

*{
margin:0;
box-sizing: border-box; 
scroll-behavior: smooth;
line-height: 160%;
}

body{
background: url('background-1.jpg') center;
background-size: cover;
font-family: Avenir, Helvetica, Verdana;
}

.layer {
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;    
}

section{
	padding-top: 10px;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	width: 76%;
	margin-left: auto;
	color: #F5F7F7;
	overflow: hidden;
}

.container-1, .container-2{
	display: flex;
	flex-direction: column;
}

/*   NAV  */
.nav{
	position: fixed;
	left: 20px;
	top:30px;
	bottom: 50px;
	
	color: #F5F7F7;
	margin:10px;
	
	background: rgb(45, 77, 77, 0.35);
	padding: 20px;
	border-radius: 12px;

	width: 15%;
	height:76%;
}
	
.logo img{
	border-radius: 50%;
	width: 130px;
}
.logo{
	text-align: center;
}




.nav h3{
	text-align: center;
	font-weight: normal;
	color: #F5F7F7;
	padding-top: 8px;
	padding-bottom: 8px;
}

.nav a{
	text-decoration: none;
}

.nav h3:hover{
	background: rgb(245, 247, 247, 0.6);
	color:#2D4D4D;
	position: relative;
	top:-3px;
	border-radius: 5px;
}

.nav h3:active{
	font-weight: bold;
}

.nav-menu{
	border-bottom: 2px solid #F5F7F7;
}

.icons i{
	color: #E8CF51;
	opacity: 80%;
	width: 9px;
	padding-right: 9px;
	padding-left: 9px;
}

.icons i:hover{
	color: #F5F7F7;
	position: relative;
	top:-2px;
}


.icons{
	padding-top:16px; 
	text-align: center;
}



/*   MAIN BODY  */



.page-title h1{
	border-top: solid 1px rgb(232, 207, 81, 0.5);
	margin-top: 40px;
	margin-bottom: 0px;
	font-size: 45px;

}	

.page-title p{
	font-style: italic;


}
.container-1 h2, .container-2 h2 {
	padding-top: 8px;
	border-top: solid 1px rgb(232, 207, 81, 0.5);
}

.container-1 h2:hover, .container-2 h2:hover {
	border-top: solid 3px rgb(232, 207, 81, 0.5);
	padding-top: 6px;
}

.container-1 {

	margin-bottom: 30px;
	flex-direction: row;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	padding: 20px 30px 30px 30px;
	width: 65%;
	position: relative;
	left:30%;
	} 

.container-2 {
	margin-bottom: 30px;
	flex-direction: row;
	background: rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	padding: 20px 30px 30px 30px;
	width: 65%;
	left:1%;
	} 



#portfolio_section{
	display: flex;
	flex-direction: row;
	overflow: auto;
	white-space: nowrap;
	overflow-y: hidden;
}

.images{
	justify-content: center;
	margin-left: 10px;
	flex-basis: 70%;
	flex-shrink: 1;
	flex-grow: 1;
	margin-top: 50px;
	align-content: space-evenly;



}

.images img{
 width: 40%;
 height:100%;
 padding: 0;
}


footer{
	position: relative;
	left: 28%;
	font-size: 12px;
	opacity: 60%;
	margin-top:45px;
	margin-bottom: 25px

}



/*  media queries for phones   */
@media only screen and (max-width: 768px) {

	body{
		margin: 0;
		margin-left: 0;
		overflow-x: hidden; 
	}

  .page-title h1{
  	text-align: left;
  	font-size: 35px;
  	width: 300px;
  }

  .page-title p{
  	text-align: left;
  }


.logo img{
	position: absolute;
	width:100px;
	left:310px;
	top: 50%;
	border-radius: 15px;
}

.icons{
	position: absolute;
	top:63%;
	left: 64%;
}

.nav{
	background: none;
	position: static;
	display: inline;
}


.nav h3{
	width: 100%;
}


.container-1, .container-2 {
	text-align: left;
	position: static;
	width: 100%;
	padding:20px;
	margin-bottom: 30px;
	margin-left: 0;
}



}